/* -------------
     RESET
---------------- */

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ---------------
   TYPEPOGRAPHY 
   ---------------*/

   body{

    font-family: "Montserrat",sans-serif;
    background-color: #f6f5f3;
    
   }


   h1{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
   }


/* ----------------
    GENERAL
------------------- */

.img-fluid{
    max-width: 10%;  
}

img{
    max-width: 100%;
    max-height: 100%;
}


/* --------------
    HEADER       
----------------- */


h1{

    font-size: 38px;
    text-align: center;
    padding: 15px;
    position:sticky;
    top: 0;
    left: 0;
    background-color: white;
    color:#ff9614;

}

/* ----------------
    MAIN 
--------------------*/

main{
    padding: 26px;
    background-color: #f6f5f3;
}

.container{

    background-color: #ffff;
    background-size: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;

    .row{
        display: flex;
        flex-wrap: wrap;
    }


    .col {
        flex-grow: 1;
    }

    
    h2{
    background-color: #f6f5f3;
    color: #4e3969;
    font-size: 36px;
    }

    .intro h2 > span {
        display: none;
    }

    .intro h2{
        margin-top: 12px;
        margin-bottom: 12px;
    }

    h3{

        font-weight: 300;
        text-transform: uppercase;
        color: gray;
    }

    h4{
        font-size: 25px;
        
    }

    .intro .video,
    .intro .recipe{

        width:100%;
        margin-top:10px;
        margin-bottom: 60px;
    }

    .intro .recipe,
    .intro h4 {

        padding: 0;
        margin-bottom: 10px;
    }

    .intro .recipe{

        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .intro .video img{

        width: 100%;
    }

    .intro .banner img{

        width: 100%;
    }

    .presentation {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .presentation .tiramisu{

        width: 90%;
        display: flex;
        align-items: flex-end;
    }

    .presentation h2{
        
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 20px;
    }
}

/* -----------------
   RESPONSIVE
-------------------- */

/* 768px a infinito Tablet */

@media screen and (min-width: 768px) {

    header{

        text-align: left;
    }

    .container h2 > span {

        display: inline;
    }
    
}

/* 992px a infinito Desktop */

@media screen and (max-width:992px){

    .intro .video {

        width: 69%;
    }
    
    .intro .recipe{

        width: 30%;
    }
}

